#footer-nav::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("img/pubcoi-network-01.svg") no-repeat fixed bottom right;
  /* strangely, the order here matters ... */
  background-size: 140% auto;
  opacity: 0.08;
  content: "";
  z-index: -1;
}

.fos-toast-container {
  margin-top: 55px;
  z-index: 1050 !important;
}

#cy {
  height: 100vh !important;
}

.pdf-navigation {
  background-color: rgba(254, 251, 255, 0.28);
}

.fa-badge {
  position: absolute;
  background-color: #1a6dca;
  top: 0;
  left: 0;
  padding: 2px;
  font-size: small;
  color: #8fbdf0;
}

canvas > path {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.metadata-parent {
  padding: 20px;
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  margin-top: 20px;
  right: 20px;
  z-index: 1000;
}

.metadata-text-block {
  text-wrap: normal;
  max-width: 250px;
}