#footer-nav::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("img/pubcoi-network-01.svg") no-repeat fixed bottom right;
  /* strangely, the order here matters ... */
  background-size: 140% auto;
  opacity: 0.08;
  content: "";
  z-index: -1;
}

.fos-toast-container {
  margin-top: 55px;
  z-index: 1050 !important;
}

#cy {
  height: 100vh !important;
}

.pdf-navigation {
  background-color: rgba(254, 251, 255, 0.28);
}